/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Nov-2017, 15:30:27
    Author     : Milan
*/
points {
    background-color: grey;
    width: 45px;    
    border: 10px white;
    padding: 2px 2px 2px 2px;
    border-style: solid;
    border-width: medium;
    margin: 250px 100px 0px 0px;
    float: right;
}

#menubar {
    list-style-type: none;
    margin: 150px 0px 100px 433px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline-block;
}

#menubutton {
    float: left;
}

#menubutton {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 18px;
    text-decoration: none;
}

#menubutton:hover {
    background-color: #111;
}

